                                    #topbar1 {
                                        flex: auto;
                                        flex-direction: column;
                                        background: rgb(160, 51, 94);
                                        color: azure;
                                        height: 100px;
                                        padding-top: 10px;
                                        padding-left: 10px;
                                        align-items: left;
                                        justify-content: space-evenly;
                                        display: flex;
                                        border-top-right-radius: 4px;
                                        border-top-left-radius: 4px;
                                    }
                                    
                                    #topbar2 {
                                        flex: auto;
                                        background: rgb(250, 245, 239);
                                        height: 50px;
                                        border-bottom-right-radius: 4px;
                                        border-bottom-left-radius: 4px;
                                    }
                                    
                                    .panel p {
                                        flex: auto;
                                        display: inline;
                                        align-items: left;
                                        margin-left: 20px;
                                    }
                                    
                                    .panel2 p {
                                        flex: auto;
                                        display: inline;
                                        align-items: left;
                                        margin-left: 20px;
                                        margin-top: 20px;
                                    }
                                    
                                    .panel-button:hover {
                                        flex: auto;
                                        background-color: #f3f3f3;
                                        color: rgb(160, 51, 94);
                                    }
                                    
                                    .panel2-button:hover {
                                        flex: auto;
                                        background-color: rgb(160, 51, 94);
                                        color: #f3f3f3;
                                    }
                                    
                                    .navbar {
                                        height: 60px;
                                        background-color: rgb(160, 51, 94);
                                        color: azure;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;
                                    }
                                    
                                    .nav-logo {
                                        height: 50px;
                                        width: 100px;
                                    }
                                    
                                    .nav-search {
                                        display: flex;
                                        justify-content: space-evenly;
                                        width: 620px;
                                        height: 40px;
                                        border-radius: 4px;
                                    }
                                    
                                    .nav-search:hover {
                                        border: 2px solid #bf7790;
                                    }
                                    
                                    .logo {
                                        background-image: url("axislogo.jpeg");
                                        background-size: cover;
                                        height: 50px;
                                        width: 100px;
                                    }
                                    /*search*/
                                    
                                    .search-select {
                                        background-color: #f3f3f3;
                                        width: 120px;
                                        text-align: center;
                                        border-top-left-radius: 4px;
                                        border-bottom-left-radius: 4px;
                                        border: none;
                                    }
                                    
                                    .search-input {
                                        width: 100%;
                                        background-color: rgb(250, 245, 239);
                                        font-size: 1rem;
                                        border: rgb(160, 51, 94);
                                    }
                                    
                                    .search-icon {
                                        width: 45px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 1.2rem;
                                        background-color: rgb(160, 51, 94);
                                        border-top-right-radius: 4px;
                                        border-bottom-right-radius: 4px;
                                        color: azure;
                                        background-image: url("icono_size.png");
                                    }
                                    
                                    h2 {
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    
                                    fieldset {
                                        background: rgb(160, 51, 94);
                                        color: #f3f3f3;
                                        width: 400px;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    
                                    body {
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    
                                    .tables {
                                        justify-content: center;
                                        align-items: center;
                                        color: #f3f3f3;
                                    }